<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body>
    <h1> Campgrounds Page</h1>
    <div> <a href="/campgrounds/new">Add Campground</a> </div>
    <% for (let campground of campgrounds) {%>
        <div class="campground">
            <li>
                <a href="/campgrounds/<%=campground._id%>"><%= campground.title %> (<%= campground.location %>)</a>
            </li>
        </div>
    <% }%>
</body>
</html>