<% layout('layouts/boilerplate') %>
    <form action="/campgrounds" method="post">
        <div>
            <label for="name">Campground Title</label>
            <input type="text" id="title" name="campground[title]">
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]">
            <button type="submit">Add Campground</button>
        </div>
    </form>
    <footer>
        <a href="/campgrounds">Return To All campgrounds</a>
    </footer>
