<% layout('layouts/boilerplate') %>
    <h1>Login</h1>
    <form action="/login" class="needs-validation" novalidate method="POST">
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
            <div class="invalid-feedback">Username is required</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="invalid-feedback">Password is Required</div>
        </div>
        <button class="btn btn-success" type="submit">Login</button>
    </form>